* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
  /* background-color:; */
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px 20% 35px 0;
  background:#008B8B; 
  background-clip: border-box;
  -webkit-text-fill-color:
  transparent;
  -webkit-background-clip: text;
  letter-spacing: 3px;
  text-align: left;
}

.headerImage {
  width: 250px;
  height: 150px;
}

.vehiclesDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.vehicleTitle {
  color: #F0F8FF;
}

.vehicleTitle:hover {
  cursor: pointer;
  color: #DEB887;
}

.vehicleSubtitle {
  color: black;
}

.vehicleSubtitle:hover {
  cursor: pointer;
  color: #E32B2B;
}
